<launch>
    <node pkg="ipc" type="ipc_node" name="ipc_node" output="screen">
        <!-- publish topic -->
        <!-- <remap from="cmd"          to="/position_cmd"/> -->
        <remap from="cmd"          to="/planning/pos_cmd"/>
        <remap from="astar_path"   to="/astar/path"/>
        <remap from="grid_map"     to="/astar/grid_map"/>
        <remap from="sfc"          to="/mkr_arr"/>
        <remap from="mpc_path"     to="/mpc/path"/>
        <remap from="px4ctrl"      to="/IPC_result"/>
        <remap from="goal_pub"     to="/mpc/goal"/>
        
        <!-- subscribe topic -->
        <remap from="local_pc"     to="/cloud_registered"/>
        <!-- <remap from="local_pc"     to="/livox/lidar"/> -->
        <remap from="odom"         to="/Odometry"/>
        <remap from="imu"          to="/livox/imu"/>
        <remap from="goal"         to="/goal_for_ipc"/>
        <!-- <remap from="rc_in"        to="/mavros/rc/in"/> -->

        <rosparam command="load" file="$(find complete_mission)/config/param_real.yaml"/>

    </node>

    <node name="ipc" pkg="rviz" type="rviz" args="-d $(find complete_mission)/config/ipc_test.rviz"/>
    
    <!-- <include file="$(find test_interface)/launch/so3_quadrotor_sim.xml"></include> -->
</launch>
