<launch> 
    
    <include file="$(find mavros)/launch/px4.launch" />
    
    <include file="$(find livox_ros_driver2)/launch/msg_MID360.launch" />

    <include file="$(find fast_lio)/launch/mapping_mid360.launch" />
    
    <node name='lidar_to_mavros' pkg="lidar_to_mavros" type="lidar_to_mavros" />

    <include file="$(find slam_navigation)/launch/test_location.launch" />
    
    <include file="$(find navigation)/launch/test.launch" />

<!--
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub1" args="0 0 0 0 0 0 body base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_pub2" args="0 0 0 0 0 0 world map" />
-->
</launch>
